# Visual Studio files
.vs/
bin/
obj/
*.suo
*.user
*.userprefs
*.lock.json
*.dll
*.exe
*.pdb
*.cache
*.tmp

# NuGet
packages/
*.nupkg
!.nuget/
*.paket.*
*.paket/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
[Tt]est[Ss]ummary.*

# StyleCop
StyleCopReport.xml

# Resharper
*_Resharper.*
*.[Rr]e[Ss]harper
[Rr]e[Ss]harper.[Dd]a[Cc]Cache

# DotCover
*.dotCover

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# Installshield output folder
[Ee]xpress/

# DocProject
[Dd]ocProject/buildhelp/
[Dd]ocProject/Help/*.HxT
[Dd]ocProject/Help/*.HxC
[Dd]ocProject/Help/*.hhc
[Dd]ocProject/Help/*.hhk
[Dd]ocProject/Help/*.hhp
[Dd]ocProject/Help/Html2
[Dd]ocProject/Help/html

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
# Note: Comment the next line if you want to checkin your web deploy settings
# but database connection strings (with potential passwords) will be unencrypted
*.pubxml
*.publishproj

# Microsoft Azure Build Output
csx/
*.build.csdef

# Azure Service Fabric
# The packages folder can be ignored because of Package Restore
**/[Ss]ervice[Ff]abric/**/pkg/Microsoft.VisualStudio.Azure.Fabric.*.xml
**/[Ss]ervice[Ff]abric/**/pkg/ServiceFabricSDK.ServiceModel.ProjectUpgrade.json
**/[Ss]ervice[Ff]abric/**/pkg/ServiceFabricSDK.ServiceFabricProjectUpgrade.json
**/[Ss]ervice[Ff]abric/**/pkg/ServiceFabricSDK.AspNetCor\
*.cspkg
*.diagnostics/
*.sfproj

# Managed NuGet Packages
# https://github.com/NuGet/Home/wiki/Filtering-the-packages-folder-with-githubignore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config

# Telerik's JustMock configuration file
*.jmconfig

# TeamCity
_TeamCity*

# Dotnet Test
.project.json
.benchmarks.json

# Visual Studio 2015/2017 cache/options directory
.vsconfig

# Visual Studio 2017 auto generated files
Generated\ Files/

# MSTest test Results
[Tt]est[Rr]esult*/

# Visual Studio code coverage results
*.coverage
*.coveragexml

# CodeRush personal settings
.cr/personal

# JetBrains Rider
.idea/
*.sln.iml

# Rider Plugin
/resharper-*/



# Files and folders generated by Visual Studio
# User-specific files
*.
